.portfolio {
    padding: 75px 0;
    background-color: var(--bg, #101010);
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        color: var(--white, #FFF);
        font-family: Kharkiv Tone;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin-bottom: 30px;
        align-self: flex-start;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        @include widthGap(3, 20px);
    }

    &__item {
        background: var(--dark-grey, darkgrey);
        position: relative;

        // opacity: 0.8;
        // background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 0;
            transition-duration: .3s;
        }

        &:hover{
            cursor: pointer;
            &::after{
                background-color: rgba(0, 0, 0, 0);
            }
            .portfolio__text{
                color: #FF6B00;
            }
        }
    }

    &__img{
        width: 100%;
        max-height: 260px;
    }


    &__text {
        color: var(--white, #FFF);
        padding: 20px 0;
        white-space: nowrap;
        background-color: #1a1a1a;
        text-align: center;
        font-family: Kharkiv Tone;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
        text-transform: lowercase;
        position: relative;
        z-index: 1;
        transition-duration: .3s;
    }

    &__button {
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #1A1A1A;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 7px 0px rgba(0, 0, 0, 0.10), 0px 13px 13px 0px rgba(0, 0, 0, 0.09), 0px 30px 18px 0px rgba(0, 0, 0, 0.05), 0px 53px 21px 0px rgba(0, 0, 0, 0.01), 0px 83px 23px 0px rgba(0, 0, 0, 0.00);

        color: var(--white, #FFF);
        text-align: center;
        font-family: Kharkiv Tone;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 36px */
        text-transform: lowercase;
        padding: 0px 73px;
        margin-top: 40px;
    }

    &__button:hover {
        color: var(--dark-grey, #1A1A1A);
        background: var(--orange, #FF6B00);
    }

    &__button:active {
        transition: 0ms;
        color: var(--white, #FFF);
        background: var(--dark-grey, #1A1A1A);
    }

}

@include max(1360px){
    .portfolio{
        &__text{
            font-size: 16px;
        }
    }
}

@include max(1200px){
    .portfolio{
        &__text{
            font-size: 12px;
        }
    }
}

@include max(992px){
    .portfolio{
        &__text{
            font-size: 16px;
        }
        &__list {
            @include widthGap(2, 20px);
        }
    }
}

@include max(768px){
    .portfolio{
        &__list {
            @include widthGap(1, 20px);
        }
        &__item{
            max-width: 470px;
        }
    }
}