.footer {
    padding: 40px 0;
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    &__fishnet {
        color: var(--white, #FFF);
        font-family: Kharkiv Tone;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
        /* 112% */
        letter-spacing: 0.16px;
    }

    .particles-js-canvas-el {
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.contact-us {
    &__title {
        color: var(--white, #FFF);
        font-family: Kharkiv Tone;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
        /* 112% */
        letter-spacing: 0.16px;
        margin-bottom: 10px;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__input {
        height: 50px;
        width: 350px;

        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        padding-left: 18px;
        margin-right: 12px;
    }

    &__input:hover,
    &__input:focus {
        border: 1px solid;
        color: white;
        outline: none;
    }

    &__submit {
        border: none;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        color: var(--white, #FFF);
        background: var(--dark-grey, #1A1A1A);
        font-family: Kharkiv Tone;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: flex;
        align-items: center;

        padding: 4px 5px;
        gap: 10px;

        transition: 300ms ease;
    }

    &__submit:hover {
        color: var(--dark-grey, #1A1A1A);
        background: var(--orange, #FF6B00);
    }

    &__submit:active {
        transition: 0ms;
        color: var(--white, #FFF);
        background: var(--dark-grey, #1A1A1A);
    }


}

@include max(1360px){
    .footer{
        &__list{
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 10px;
        }
        &__item{
            &:last-child{
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

@include max(1200px){
    .footer{
        &__container{
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 40px;
        }
        &__logo{
            display: flex;
            justify-content: center;
            width: 100%;
            order: 1;
        }
        &__list{
            width: 40%;
            order: 3;
        }
        &__contact-us{
            width: 60%;
            order: 2;
        }
    }
}

@include max(992px){
    .footer{
        &__list{
            width: 45%;
            column-gap: 15px;
        }
        &__contact-us{
            width: 55%;
        }
    }
    .contact-us{
        &__form{
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            align-items: center;
            row-gap: 10px;
        }
        &__submit{
            width: fit-content;
            padding: 0 20px;
            height: 50px;
        }
        &__title{
            width: fit-content;
        }
    }
}

@include max(768px) {
    .footer{
        &__container{
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
        &__list{
            width: 100%;
        }
        &__contact-us{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .contact-us{
        &__submit{
            width: fit-content;
            padding: 0 20px;
            height: 50px;
        }
        &__title{
            font-size: 16px;
        }
        &__input{
            margin-right: 0;
        }
    }
}