.header {
    max-width: 100%;
    height: 60px;
    background-color: #101010;


    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__link {
        color: var(--white, #fff);
        font-family: 'Kharkiv Tone', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__span--orange {
        color: var(--orange, #FF6B00);
        font-family: 'Kharkiv Tone', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        color: var(--white, #FFF);
        font-family: Kharkiv Tone;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background: var(--dark-grey, #1A1A1A);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 7px 0px rgba(0, 0, 0, 0.10), 0px 13px 13px 0px rgba(0, 0, 0, 0.09), 0px 30px 18px 0px rgba(0, 0, 0, 0.05), 0px 53px 21px 0px rgba(0, 0, 0, 0.01), 0px 83px 23px 0px rgba(0, 0, 0, 0.00);
        border: none;
        cursor: pointer;
        padding: 4px 5px;
        transition: 250ms ease-in;
    }

    &__button:hover {
        color: var(--dark-grey, #1A1A1A);
        background: var(--orange, #FF6B00);
    }

    &__button:active {
        transition: 0ms;
        color: var(--white, #FFF);
        background: var(--dark-grey, #1A1A1A);
    }
}